doctype html5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="stylesheet", href="http://ant.design/dist/antd.css")
    block header
  body
    block content
